.main {
   display: flex;
   max-width: 1240px;
   margin: 120px auto 0;
}

.section {
   width: 900px;
   margin: 0;
}

.ul {
   max-height: 84.6vh;
   margin-top: -80px;
   padding: 0;
   list-style: none;
   overflow-y: scroll;
   overflow-x: hidden;
   scroll-behavior: smooth;
}

.ul::-webkit-scrollbar {
   width: 8px;
   background-color: #2f2f37;
   border-radius: 12px;
}

.ul::-webkit-scrollbar-thumb {
   background-color: #8585ad;
   border-radius: 12px;
}