.nav {
   width: 320px;
   top: 208px;
   left: calc(50% - 320px - 480px/2 - 60px);
   position: absolute;
}

.ul {
   padding: 0;
   list-style-type: none;
   margin: 0 0 80px;
}

.li {
   display: flex;
   align-items: center;
   height: 44px;
   font-size: 24px;
   line-height: 30px;
   margin: 10px 0;
   color: #8585AD;
   text-decoration: none;
}

.active {
   color: #F2F2F3;
}