.header {
   display: flex;
   justify-content: center;
   /* width: 100vw; */
   background-color: #1c1c21;
}

.ul {
   width: 1280px;
   display: flex;
   align-items: center;
   margin: 0;
   padding-left: 0;
}

.li {
   list-style: none;
   border-radius: 40%;
}

.li:first-child {
   margin-right: 8px;
}

.li:first-child .a {
   color: #f2f2f3;
}

.li:nth-child(2) {
   margin-right: 120px;
   /* сместел на 8 пикселей вправо чтобы лого казалось более естественным, в центре */
}

.li:last-child {
   margin-left: auto;
}

.a {
   margin: 0 20px;
   border-radius: 40px;
   display: flex;
   /* padding-left: 8px; */
   color: #8585ad;
   align-items: center;
   text-decoration-line: none;
}

.a:focus {
   outline: 2px solid dodgerblue;
}

.logo {
   padding: 16.82px 0;
}

.p {
   font-weight: 16px;
   line-height: 24px;
   padding-left: 10px;
}
