@import-normalize;
@import url("./vendor/fonts/fonts.css");

body {
   font-family: "JetBrainsMono", "Tahoma";
   background-color: #131316;
   position: relative;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}