@import-normalize;
@import url("./vendor/fonts/fonts.css");

body {
   font-family: "JetBrainsMono", "Tahoma";
   /* display: flex; */
   /* justify-content: center; */
   /* flex-wrap: wrap; */
   /* max-width: 1280px; */
   /* margin: 0 auto; */
   /* overflow-x: hidden; */


   background-color: #131316;
   position: relative;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;


}