@import-normalize;
@import url("./vendor/fonts/fonts.css");

body {
   font-family: "JetBrainsMono", "Tahoma";
   display: flex;
   flex-wrap: wrap;
   width: 1280px;
   margin: 0 auto;
   background-color: #131316;
   position: relative;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
